@charset "UTF-8";
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.modal {
  top: 50%;
  left: 50%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page {
  background-color: #ffffff;
  color: #212121;
  font-family: roboto, sans-serif;
}

a {
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  border-bottom: 1px solid #ececec;
}

.container {
  min-width: 300px;
  max-width: 1200px;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
  }
}

.card {
  width: 100%;
}

.card__scene {
  background-color: #ffffff;
  outline: 1px solid #f5f4fa;
  -webkit-perspective: 800px;
          perspective: 800px;
}
@media screen and (min-width: 768px) {
  .card__scene {
    -webkit-perspective: 700px;
            perspective: 700px;
  }
}
@media screen and (min-width: 1200px) {
  .card__scene {
    -webkit-perspective: 600px;
            perspective: 600px;
  }
}

.card__img {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.card__scene:hover .card__img, .card__scene:focus .card__img {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__face {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card__photo {
  min-height: 285px;
}

.card__back {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #ffffff;
  outline: 1px solid #2196f3;
}

.card__back-title {
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.card__title {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.card__speciality {
  margin: 0 0 16px 0;
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

.networks-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.networks-block__item:not(:last-child) {
  margin-right: 10px;
}

.networks-block__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks-block__link:hover, .networks-block__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.recolor__link {
  color: #ffffff;
}

.networks-block__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.logo {
  display: block;
  color: #000000;
  font-family: raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover, .logo:focus {
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.logo__color-change {
  color: #2196f3;
}

.logo__margin {
  margin: 16px 0;
}
@media screen and (min-width: 768px) {
  .logo__margin {
    margin: 26px 0;
  }
}
@media screen and (min-width: 1200px) {
  .logo__margin {
    margin: 24px 0;
  }
}

.recolor__logo {
  color: #ffffff;
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-left: auto;
  border: none;
  background-color: transparent;
  z-index: 2;
  cursor: pointer;
}
.menu-button svg {
  fill: currentColor;
}
.menu-button .menu-button__close {
  display: none;
}
.menu-button:hover, .menu-button:focus {
  color: #2196f3;
}
.menu-button.is-open .menu-button__close {
  display: block;
}
.menu-button.is-open .menu-button__menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-container {
  display: none;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  cursor: pointer;
  z-index: 1;
  background-color: #ffffff;
}
.menu-container.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-nav {
  margin-bottom: 306px;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
}

.menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-nav__link {
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav__link--current {
  color: #2196f3;
}
.menu-nav__link:hover, .menu-nav__link:focus {
  color: #2196f3;
}

.menu-contact {
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.02em;
}

.menu-contact__item:not(:last-child) {
  margin-bottom: 32px;
  font-size: 34px;
}

.menu-contact__link {
  color: #757575;
}
.menu-contact__link--change {
  color: #2196f3;
}

.menu-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.02em;
}

.menu-networks__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(21, 21, 21, 0.2);
}

.menu-networks__link {
  color: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  min-width: 270px;
  max-height: 669px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop--is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__button {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  margin: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  fill: #2196f3;
}

.service-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.service-form__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.service-form__field-title {
  position: relative;
  margin-bottom: 10px;
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.service-form__field {
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  margin: 4px 0 0 0;
  border: 1px solid rgba(21, 21, 21, 0.2);
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service-form__field-title .service-form__field:hover, .service-form__field-title .service-form__field:focus {
  border-color: #2196f3;
}

.service-form__input-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  cursor: pointer;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service-form__field:hover + .service-form__input-icon, .service-form__field:focus + .service-form__input-icon {
  color: #2196f3;
}
.service-form__field-title:hover + .service-form__input-icon, .service-form__field-title:focus + .service-form__input-icon {
  color: #2196f3;
}

.service-form__field-comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid rgba(21, 21, 21, 0.2);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service-form__field-comment:hover, .service-form__field-comment:focus {
  border-color: #2196f3;
}
.service-form__field-comment::-webkit-input-placeholder {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(75, 75, 75, 0.5);
}
.service-form__field-comment::-moz-placeholder {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(75, 75, 75, 0.5);
}
.service-form__field-comment:-ms-input-placeholder {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(75, 75, 75, 0.5);
}
.service-form__field-comment::-ms-input-placeholder {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(75, 75, 75, 0.5);
}
.service-form__field-comment::placeholder {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(75, 75, 75, 0.5);
}
@media screen and (min-width: 1200px) {
  .service-form__field-comment::-webkit-input-placeholder {
    font-size: 12px;
  }
  .service-form__field-comment::-moz-placeholder {
    font-size: 12px;
  }
  .service-form__field-comment:-ms-input-placeholder {
    font-size: 12px;
  }
  .service-form__field-comment::-ms-input-placeholder {
    font-size: 12px;
  }
  .service-form__field-comment::placeholder {
    font-size: 12px;
  }
}

.service-form__field-checkbox {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .service-form__field-checkbox {
    font-size: 14px;
  }
}

.service-form__checkbox-view {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

.service-form__agreement {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.service-form__chackbox-icon {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
}
.service-form__agreement:checked + .service-form__chackbox-icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/sprite/svg/icon\ check.svg);
  background-size: contain;
  background-origin: border-box;
}
.service-form__checkbox-view:hover .service-form__chackbox-icon, .service-form__checkbox-view:focus .service-form__chackbox-icon {
  border-color: #2196f3;
}

.service-form__agreement-link {
  margin-left: 3px;
  color: #2196f3;
  text-decoration: underline;
}

.service-form__send-btn {
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  padding: 10px 52px;
  background-color: #2196f3;
  color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* Шапка */
.header__main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 92px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item:not(:first-child) {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    opacity: 0;
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: #2196f3;
  }
  .site-nav__link--current {
    color: #2196f3;
  }
  .site-nav__link--current::after {
    opacity: 1;
  }
}

.contact-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contact-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1199px) {
  .contact-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-nav__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contact-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-nav__link:hover, .contact-nav__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .contact-nav__link {
    font-size: 14px;
  }
}

.contact-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

.footer {
  min-width: 300px;
  max-width: 1600px;
  height: 603px;
  padding: 60px 0px 60px 0px;
  margin: 0 auto;
  background-color: #2f303a;
}
@media screen and (min-width: 768px) {
  .footer {
    height: 463px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    height: 252px;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 76px;
    padding-right: 89px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    padding: 0;
  }
}

.address-block {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .address-block {
    width: 232px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .address-block {
    width: 232px;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .address-block {
    width: 231px;
    text-align: left;
  }
}

.address {
  margin-top: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.42px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.42px;
}

.networks-block {
  width: 100%;
  margin: 60px 0;
}
@media screen and (min-width: 480px) {
  .networks-block {
    width: 206px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .networks-block {
    margin: 5px 0 102px;
  }
}
@media screen and (min-width: 1200px) {
  .networks-block {
    margin: 12px 0 0 70px;
  }
}

.networks-block__title {
  display: block;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .networks-block__title {
    text-align: left;
  }
}

.newsletter-block {
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .newsletter-block {
    margin: 12px 0 0 auto;
  }
}

.newsletter-block__title {
  display: block;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .newsletter-block__title {
    text-align: left;
  }
}

.newsletter-block__thumb {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .newsletter-block__thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.newsletter-block__field {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: #2f303a;
  color: rgb(255, 255, 255);
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .newsletter-block__field {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter-block__field {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}
.newsletter-block__field::-webkit-input-placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.newsletter-block__field::-moz-placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.newsletter-block__field:-ms-input-placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.newsletter-block__field::-ms-input-placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.newsletter-block__field::placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.newsletter-block__field:hover, .newsletter-block__field:focus {
  border-color: #2196f3;
}

.newsletter-block__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  padding: 10px 0px 10px 31px;
  margin: auto;
  border-radius: 4px;
  border: none;
  background-color: #2196f3;
  color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .newsletter-block__btn {
    padding: 10px 0px 10px 28px;
  }
}

.newsletter-block__icon {
  width: 24px;
  height: 24px;
  margin-left: 12px;
  margin-right: 28px;
}
@media screen and (min-width: 1200px) {
  .newsletter-block__icon {
    margin-left: 10px;
  }
}

.hero {
  text-align: center;
}

.hero__overlay {
  min-width: 300px;
  height: 400px;
  padding: 118px 0;
  margin: 0 auto;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../../hero/hero_m_x1.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../../hero/hero_m_x1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero__overlay {
    height: 600px;
    padding: 200px 0;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero__overlay {
    background-color: #2f303a;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../../img/hero/hero_m_x2.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../../img/hero/hero_m_x2.jpg");
  }
}
@media screen and (min-width: 481px) {
  .hero__overlay {
    background-color: #2f303a;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../../img/hero/hero_t_x1.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../../img/hero/hero_t_x1.jpg");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-color: #2f303a;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../../img/hero/hero_t_x2.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../../img/hero/hero_t_x2.jpg");
  }
}
@media screen and (min-width: 769px) {
  .hero__overlay {
    background-color: #2f303a;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../../img/hero/hero_d_x1.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../../img/hero/hero_d_x1.jpg");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-color: #2f303a;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../../img/hero/hero_d_x2.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../../img/hero/hero_d_x2.jpg");
  }
}
.hero__text {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 44px;
    line-height: 1.4;
  }
}

.hero__button {
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  background-color: #2196f3;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.96px;
  cursor: pointer;
}

.advantages {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding: 94px 0;
  }
}

.advantages__card-set {
  display: block;
}
@media screen and (min-width: 768px) {
  .advantages__card-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.advantages__item {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .advantages__item {
    /* calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке) */
    width: calc((100% - 30px) / 2);
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    /* calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке) */
    width: calc((100% - 90px) / 4);
    -ms-flex-preferred-size: calc(25% - 30px);
        flex-basis: calc(25% - 30px);
  }
}

.advantages__icon-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.advantages__icon {
  width: 70px;
  height: 70px;
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .advantages__title {
    text-align: center;
  }
}

.advantages__content {
  margin: 0;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
  text-transform: none;
}

.classes {
  display: none;
}
@media screen and (min-width: 1200px) {
  .classes {
    display: block;
    padding-bottom: 94px;
  }
}

.classes__card-set {
  display: block;
}
@media screen and (min-width: 768px) {
  .classes__card-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.classes__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .classes__item {
    /* calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке) */
    width: calc((100% - 30px) / 2);
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .classes__item {
    /* calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке) */
    width: calc((100% - 60px) / 3);
    -ms-flex-preferred-size: calc(33.3333333333% - 30px);
        flex-basis: calc(33.3333333333% - 30px);
  }
}

.classes__image {
  min-height: 215px;
}

.classes__category {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.classes__category-title {
  padding: 27px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 1200px) {
  .team {
    max-width: 1600px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__card-set {
  display: block;
}
@media screen and (min-width: 768px) {
  .team__card-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.team__item {
  padding-bottom: 24px;
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 768px) {
  .team__item {
    /* calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке) */
    width: calc((100% - 30px) / 2);
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    /* calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке) */
    width: calc((100% - 90px) / 4);
    -ms-flex-preferred-size: calc(25% - 30px);
        flex-basis: calc(25% - 30px);
    padding-bottom: 30px;
  }
}

.clients {
  min-width: 300px;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__card-set {
  display: block;
}
@media (min-width: 480px) {
  .clients__card-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.clients__item {
  margin-top: 30px;
}
@media (min-width: 480px) {
  .clients__item {
    /* calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке) */
    width: calc((100% - 30px) / 2);
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    /* calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке) */
    width: calc((100% - 60px) / 3);
    -ms-flex-preferred-size: calc(33.3333333333% - 30px);
        flex-basis: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    /* calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке) */
    width: calc((100% - 150px) / 6);
    -ms-flex-preferred-size: calc(16.6666666667% - 30px);
        flex-basis: calc(16.6666666667% - 30px);
  }
}

.clients__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  background-size: 106px 60px;
  background-repeat: no-repeat;
  background-position: center;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.portfolio {
  padding: 94px 0;
}
@media screen and (max-width: 1199px) {
  .portfolio {
    padding: 60px 0;
  }
}

.filter-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-left: auto;
  margin-bottom: 40px;
}
@media screen and (min-width: 643px) {
  .filter-buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .filter-buttons {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter-buttons {
    margin-bottom: 50px;
  }
}

.filter-buttons__item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.filter-buttons__btn {
  display: inline-block;
  min-width: 73px;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  color: #212121;
  background-color: #f5f4fa;
  font-family: inherit; /*явно унаслеуй шрифт от page*/
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.48px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-buttons__btn:hover,
.filter-buttons__btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-list {
  display: block;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.portfolio-list__item {
  margin-top: 30px;
  border-radius: 0px, 0px, 4px, 4px;
  overflow: hidden;
  /* Альтернатива */
  /* .portfolio-list__item :not(:nth-child(3n)) {
    margin-right: 30px;
  }

  .portfolio-list__item :not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  } */
}
@media screen and (min-width: 768px) {
  .portfolio-list__item {
    /* calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке) */
    width: calc((100% - 30px) / 2);
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list__item {
    /* calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке) */
    width: calc((100% - 60px) / 3);
    -ms-flex-preferred-size: calc(33.3333333333% - 30px);
        flex-basis: calc(33.3333333333% - 30px);
  }
}
.portfolio-list__item:hover, .portfolio-list__item:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.product {
  width: 100%;
}

.product__thumb {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  overflow: hidden;
}

.product__image {
  min-height: 223px;
}

.product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product:hover .product__overlay, .product:focus .product__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.product__description {
  padding: 77px 24px;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 481px) {
  .product__description {
    padding: 49px 24px 77px;
  }
}
@media screen and (min-width: 769px) {
  .product__description {
    padding: 63px 24px;
  }
}

.product__meta {
  max-width: 100%;
  padding: 20px 0 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
@media screen and (min-width: 481px) {
  .product__meta {
    padding: 20px 0 56px 24px;
  }
}
@media screen and (min-width: 769px) {
  .product__meta {
    padding: 20px 0 20px 24px;
  }
}

.product__title {
  margin-top: 0;
  margin-bottom: 4px;
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.product__comment {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.48px;
}/*# sourceMappingURL=main.css.map */