// Карточка
.card__scene {
  width: 270px;
  height: 260px;

  margin: 0 auto;

  background-color: $primary-background;
  outline: 1px solid $secondary-background;

  perspective: 800px;

  @media screen and (min-width: $mobile-width) {
    width: 450px;
    height: 460px;
  }

  @media screen and (min-width: $tablet-width) {
    width: 354px;
    height: 374px;
    perspective: 700px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 270px;
    height: 260px;
    perspective: 600px;
  }
}

.card__img {
  position: relative;

  height: 100%;
  align-items: center;
  transform: rotateY(0);
  transition: transform 500ms $transition-type;
  transform-style: preserve-3d;

  .card__scene:hover &,
  .card__scene:focus & {
    transform: rotateY(180deg);
  }
}

.card__face {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.card__photo {
  width: 100%;
  height: 100%;
}

.card__back {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  backface-visibility: hidden;
  transform: rotateY(180deg);
  background-color: $primary-background;
  outline: 1px solid $accent-color;
}

.card__back-title {
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.card__title {
  margin-top: 30px;
  margin-bottom: 10px;

  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.card__speciality {
  margin: 0 0 16px 0;

  color: $text-color;

  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}
