.clients {
  min-width: 300px;
  padding-top: 60px;
  padding-bottom: 60px;

  text-align: center;

  @media screen and (min-width: $desktop-width) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__card-set {
  display: block;

  @media (min-width: $mobile-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * $card-set-gap);
    margin-left: calc(-1 * $card-set-gap);
  }
}

.clients__item {
  margin-top: $card-set-gap;

  @media (min-width: $mobile-width) {
    /* calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке) */
    width: calc((100% - 30px) / 2);
    flex-basis: calc(100% / 2 - $card-set-gap);
    margin-left: $card-set-gap;
  }

  @media screen and (min-width: $tablet-width) {
    /* calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке) */
    width: calc((100% - 60px) / 3);
    flex-basis: calc(100% / 3 - $card-set-gap);
  }

  @media screen and (min-width: $desktop-width) {
    /* calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке) */
    width: calc((100% - 150px) / 6);
    flex-basis: calc(100% / 6 - $card-set-gap);
  }
}

.clients__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid $clients-border;
  border-radius: 4px;
  background-size: 106px 60px;
  background-repeat: no-repeat;
  background-position: center;
  color: $icon-logo;

  @include transit(color);

  &:hover,
  &:focus {
    border-color: $accent-color;
    color: $accent-color;
  }

  @media screen and (min-width: $tablet-width) {
    width: 226px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 170px;
  }
}

.clients__logo {
  width: 106px;
  height: 60px;

  fill: currentColor;
}
