.team {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $secondary-background;

  @media screen and (min-width: $desktop-width) {
    max-width: 1600px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__card-set {
  display: block;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * $card-set-gap);
    margin-left: calc(-1 * $card-set-gap);
  }
}

.team__item {
  padding-bottom: 24px;
  margin-top: $card-set-gap;
  background-color: $primary-background;
  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  @media screen and (min-width: $tablet-width) {
    /* calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке) */
    width: calc((100% - 30px) / 2);
    flex-basis: calc(100% / 2 - $card-set-gap);
    margin-left: $card-set-gap;
  }

  @media screen and (min-width: $desktop-width) {
    /* calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке) */
    width: calc((100% - 90px) / 4);
    flex-basis: calc(100% / 4 - $card-set-gap);
    padding-bottom: 30px;
  }
}
