$primary-text-color: #212121;
$dark-bg-color: #2f303a;
$card-bg-color: rgba(33, 150, 243, 90%);
$card-tx-color: rgba(255, 255, 255, 100%);
$trans-bg-color: rgba(47, 48, 58, 80%);
$text-color: #757575;
$placeholder-color: rgba(75, 75, 75, 0.5);
$primary-background: #ffffff;
$accent-color: #2196f3;
$secondary-background: #f5f4fa;
$additional-background: rgba(47, 48, 58, 0.4);
$logo-black: #000000;
$header-border-color: #ececec;
$card-border-color: #eeeeee;
$address-element: rgba(255, 255, 255, 0.6);
$networks-title: rgba(255, 255, 255, 1);
$background-icon: rgba(255, 255, 255, 0.1);
$clients-border: rgba(175, 177, 184, 1);
$icon-network: #afb1b8;
$icon-logo: #afb1b8;
$backdrop-color: rgba(0, 0, 0, 20%);
$border-btn-color: rgba(0, 0, 0, 10%);
$input-border-color: rgba(21, 21, 21, 0.2);
$chackbox-color: #212121;
$footer-field-color: rgba(255, 255, 255, 0.3);
$card-set-gap: 30px;
$transition-type: cubic-bezier(0.4, 0, 0.2, 1);
$transition-time: 250ms;
