.clients {
  padding-top: 94px;
  padding-bottom: 94px;

  text-align: center;
}

.clients__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid $clients-border;
  border-radius: 4px;
  background-size: 106px 60px;
  background-repeat: no-repeat;
  background-position: center;
  color: $icon-logo;

  @include transit(color);

  &:not(:last-child) {
    margin-right: 30px;
  }

  &:hover,
  &:focus {
    border-color: $accent-color;
    color: $accent-color;
  }
}

.clients__logo {
  width: 160px;
  height: 60px;

  fill: currentColor;
}
