// Команда
.team {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: $secondary-background;
}

.team__card-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.team__item {
  width: 270px;
  height: 428px;
  background-color: $primary-background;
  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

// Карточка
.card__scene {
  width: 270px;
  height: 260px;

  background-color: $primary-background;
  outline: 1px solid $secondary-background;

  perspective: 600px;
}

.card__img {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateY(0);
  transition: transform 500ms $transition-type;
  transform-style: preserve-3d;

  .card__scene:hover &,
  .card__scene:focus & {
    transform: rotateY(180deg);
  }
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card__back {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  backface-visibility: hidden;
  transform: rotateY(180deg);
  background-color: $primary-background;
  outline: 1px solid $accent-color;
}

.card__back-title {
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.card__title {
  margin-top: 30px;
  margin-bottom: 10px;

  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.card__speciality {
  margin: 0 0 16px 0;

  color: $text-color;

  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

// Соц сети
.team__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  border-radius: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  color: $icon-network;

  @include transit(color);
  @include transit(background);

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primary-background;
  }
}

.team__icon-network {
  width: 20px;
  height: 20px;

  fill: currentColor;
}
