/* Шапка */
.header__main-nav {
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid tomato; */
}

.header__nav {
  display: flex;
  align-items: center;
}

.logo {
  color: $logo-black;
  font-family: raleway;

  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  @include transit(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.logo__first-half {
  color: $accent-color;
}

// .logo--inverse {
//   color: $primary-background;
// }

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__item:not(:first-child) {
  margin-left: 50px;
}

/* .site-nav .nav-item:not(:last-child) {
  margin-right: 50px;
} */

.site-nav__link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $primary-text-color;

  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;

  @include transit(color);

  &::after {
    position: absolute;
    bottom: 0;

    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: $accent-color;

    opacity: 0;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &--current {
    color: $accent-color;
  }

  &--current::after {
    opacity: 1;
  }
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav__item:not(:first-child) {
  margin-left: 50px;
}

.auth-nav__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $text-color;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 2%;

  @include transit(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.auth-nav__icon {
  margin-right: 10px;

  fill: currentColor;
}
