.classes {
  padding-top: 94px;
  padding-bottom: 94px;
}

.classes__card-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.classes__item {
  position: relative;
  display: flex;
}

.classes__category {
  position: absolute;

  width: 100%;
  height: 70px;
  bottom: 0;

  background-color: $trans-bg-color;
}

.classes__category-title {
  padding: 27px 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $primary-background;
}
